<h1>Candidates List</h1>

<%= link_to "add new candidate", new_candidate_path %>

<table class="table">
    <thead>
	<tr>
	    <td>your vote</td>
	    <td>name</td>
	    <td>party</td>
	    <td>politics</td>
	    <td>votes</td>
	    <td>edit or delete</td>
	</tr>
    </thead>
    <tbody>
	<% @candids.each do |candidate| %>
	    <tr>
		<td><%= link_to "vote this one", vote_candidate_path(candidate), method: "post", data: {confirm: "vote this one"}, class:"btn btn-danger btn-xs" %></td>
		<td><%= candidate.name %>(age: <%= candidate.age %>)</td>
		<td><%= candidate.party %></td>
		<td><%= candidate.politics %></td>
		<td><%= candidate.vote_logs.size%></td>
		<td>
		    <%= link_to "edit", edit_candidate_path(candidate) %>
		    <%= link_to "delete",candidate_path(candidate), method: "delete", data: {confirm: "confirm deletion"} %>
		</td>
	    </tr>
	<% end %>
    </tbody>
</table>
